body {
    margin: 0;
}

footer {
    padding-left: 3%;
    padding-right: 3%;
    background-color: #006E9A;
    display: flex;
    justify-content: space-between;

}

footer p {
    color: white;
    font-family: 'Yeseva One' sans-serif;
    font-size: 16px;
    padding-top: 15px;
}

footer .logo {
    margin-top: 0.4%;
    width: 15%;
    height: 15%;
    margin-left: 100px;
}