body {
    margin: 0;
}

footer {
    padding-left: 3%;
    padding-right: 3%;
    background-color: #006E9A;
    display: flex;
    justify-content: space-between;
    p {
        color: white;
        font-family: 'Yeseva One' sans-serif;
        font-size: 1.5em;
    }
    .logo {
        margin-top:0.4%;
        width: 15%;
        height: 15%;
    }
}